*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0f172a;
  font-family:sans-serif;
}

.counter-container{
  background:#111827;
  padding:40px;
  border-radius:25px;
  text-align:center;
  width:400px;

  border:2px solid #06b6d4;

  box-shadow:
    0 0 20px #06b6d4,
    0 0 50px rgba(6,182,212,.4);
}

.counter-container p{
  font-size:6rem;
  font-weight:bold;
  color:#fff;
  text-shadow:
    0 0 10px #06b6d4,
    0 0 25px #06b6d4;
  margin-bottom:30px;
}

.btn-group{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.counter-container button{
  padding:14px;
  border:none;
  border-radius:12px;
  font-size:1rem;
  font-weight:600;
  cursor:pointer;
  transition:.3s;
}

.counter-container button:hover{
  transform:scale(1.05);
}

.counter-container button:nth-child(1){
  background:#22c55e;
  color:white;
}

.counter-container button:nth-child(2){
  background:#ef4444;
  color:white;
}

.counter-container button:nth-child(3){
  background:#f59e0b;
  color:white;
}
#name{
  margin-top: 1rem;
  border-radius: 5px;
  width: 300px;
  border: none;
  padding: 5px;
}
#Print{
  margin-top: 1rem;
}
