.Header{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.target{
    background-color: black;
    color: white;
    border: none;
}
.banking{
    background-color: whitesmoke;
    color: black;
    border: none;
}
.Header button{
    padding: 8px 10px 8px 15px;
    border-radius: 30px;
}